# ----------------------------
# Системные файлы
# ----------------------------
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ----------------------------
# Компилируемые/бинарные файлы
# ----------------------------
*.o
*.obj
*.exe
*.out
*.class
*.jar
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.a
*.lib

# ----------------------------
# Виртуальные окружения
# ----------------------------
env/
venv/
.venv/
node_modules/

# ----------------------------
# IDE и редакторы
# ----------------------------
.vscode/
.idea/
*.suo
*.user
*.ncb
*.sdf
*.vcxproj*
*.opensdf
*.log

# ----------------------------
# Логи и временные файлы
# ----------------------------
*.log
*.tmp
*.swp
*.bak

# ----------------------------
# Кэш
# ----------------------------
__pycache__/
*.cache
.cache/